// .dashboard-page {
// 	top: 70px;
// 	width: 100%;
// 	min-height: calc(100vh - 70px);
// 	position: relative;

// 	.dash-header {
// 		margin-left: 6%;
// 		margin-top: 4%;
// 	}
// }

.dashboard-container {
	padding-left: 4%;
	padding-top: 4%;

	.dash-header {
		margin-top: 0;
		// margin-left: 4%;
		// margin-top: 4%;
		// margin-bottom: 40px;
		margin-bottom: 5%;
	}

	.dash-subheader {
		color: $logo-black;
		font-size: 20px;
		font-weight: 500;
		margin: 0;
		margin-bottom: 20px;
	}

	.new-proj-btn {
		background-color: transparent;
		border: none;
		width: 100%;
		max-width: 360px;
		height: auto;
		aspect-ratio: 7/4.5;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0;
		margin-top: 24px;

		svg {
			margin-left: -16px;
			fill: none;
			stroke: #d3dee1a1;
			stroke-width: 2;
			stroke-dasharray: 8;
			width: 100%;
			height: 100%;
			stroke-linejoin: round;
			stroke-linecap: round;
			stroke-miterlimit: 4;
			transition: all;
			transition-duration: 180ms;
		}

		h5 {
			margin-left: -6px;
			position: absolute;
			color: #7096a0;
			opacity: 0.85;
			font-family: "Readex Pro";
			font-size: 16px;
			font-weight: 410;
			letter-spacing: 0.01em;
			transition: all;
			transition-duration: 180ms;
		}

		&:hover {
			svg {
				fill: #bad4db17;
				// stroke: #d3dee1;
				stroke: #c7dee5c8;
				transition: all;
				transition-duration: 200ms;
			}

			h5 {
				color: #69a6b5;
				opacity: 1;
				font-size: 17px;
				letter-spacing: 0;
				font-weight: 405;
				transition: all;
				transition-duration: 150ms;
			}
		}
	}
}

.recent-projects {
	margin-left: 2px;
}

//Styles for the create project form.
.create-project-form {
	position: absolute;
	width: min(40vw, 475px);
	height: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: $logo-white;
	z-index: -99;
	padding: 2%;
	opacity: 0;

	&.active{
		opacity: 1;
		z-index: 100;
		transition: all 0.3s cubic-bezier(0.33, 1, 0.68, 1);
	}

	h1 {
		margin: auto auto 1em auto;
		font-size: 2em;
	}

	form {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		justify-content: center;
		width: 100%;

		.slide-container {
			width: 100%;
			display: flex;
			overflow: hidden;

			.slide {
				width: 0%;
				opacity: 0;

				&.active {
					display: flex;
					flex-direction: column;
					gap: 2em;
					min-width: 100%;
					position: relative;
					opacity: 1;
					transition: all 0.7s cubic-bezier(0.33, 1, 0.68, 1);
				}
			}
		}


		input,
		select {
			width: 100%;
			background-color: $logo-white;
			border: none;
			border-bottom: 1px solid rgba(#879ca3, 0.5);
			color: $primary-navy;
			font-weight: 200;
		}

		select option[disabled] {
			color: rgba(#879ca3, 0.5);
		}

		label {
			width: 100%;
			font-weight: 900;

			input {
				width: 100%;
				font-weight: 200;
			}
		}

		input:focus,
		select:focus {
			border: none;
			outline: none;
			border-bottom: 1px solid rgba(#879ca3, 0.5);
		}

		input::placeholder {
			color: #879ca3;
		}

		input[type="date"]::-webkit-calendar-picker-indicator {
			filter: invert(1);
		}

		.tag-section {
			width: 100%;

			input {
				width: 100%;
			}

			.tag-arrow {
				position: absolute;
				transform: translateY(-15px);
				right: 10%;
				background-color: $logo-white;
				border: none;
			}

			.tag-container {
				display: flex;
				flex-direction: row;
				align-items: flex-start;
				flex-wrap: wrap;
				width: 100%;

				.tag-content {
					background-color: rgba(#2d748b, 0.8);
					width: fit-content;
					height: 20px;
					padding: 0 5px 0 10px;
					border-radius: 1em;
					margin-top: 1%;
					margin-right: 2%;
					display: flex;
					justify-content: center;
					align-items: center;
					flex-direction: row;

					.tags {
						display: flex;
						align-items: center;
						justify-content: center;
						text-align: center;
						font-weight: 200;
						font-size: 0.8em;
						margin-right: 5px;

					}

					button {
						background-color: transparent;
						border: none;

						.delete-button {
							transform: rotate(45deg);
							width: 10px;
							height: 10px;
							cursor: pointer;
						}
					}
				}
			}

		}
	}

	.section-indicator {
		width: 100%;
		height: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 1.5em;

		.dots {
			display: flex;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background-color: rgba(#879ca3, 0.5);
			margin: 0 5px;
			
			&.active {
				background-color: $logo-green-bright;
				transition: all 6s cubic-bezier(0.33, 1, 0.68, 1);
			}
		}

	}

	.project-nav-buttons {
		margin-top: 1em;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;

		button {
			width: 175px;
			height: 2em;
		}

		button:nth-of-type(1) {
			color: $logo-green;
			background-color: $logo-white;
			border: 1px solid $logo-green;
		}

		button:nth-of-type(2) {
			color: $logo-white;
			background-color: $logo-green;
			border: 1px solid $logo-green;
		}
	}
}

@media screen and (min-width: 640px) {
	.new-proj-btn {
		width: 50%;
	}
}