.nav-container {
	width: calc(100% - 348px);
	height: 70px;
	color: #111111;
	padding: 10px;
	display: flex;
	border-bottom: 2px solid #07f0c1;
	justify-content: flex-end;
	align-items: center;
	position: absolute;
	right: 0;

	.logout-btn {
		height: 100%;
		width: 120px;
		background-color: rgba(54, 199, 181, 0.04);
		color: #36c7b5;
		font-weight: 300;
		display: flex;
		justify-content: center;
		align-items: center;
		justify-self: flex-end;
		outline: none;
		border: 1.5px solid rgba(54, 199, 181, 0.65);
		border-radius: 8px;
		margin-right: 14px;

		&:hover {
			background-color: rgba(7, 240, 193, 0.1);
			font-weight: 400;
			color: #00d9bf;
			border-color: #00d9bf;
		}
	}

	.user-greeting {
		font-size: 14px;
		margin-right: 1.2rem;

		.name {
			font-weight: 400;
			margin-left: 4px;
		}
	}
}

//side bar styles

//navbar layout
.navbar-layout {
	padding: 0;
	margin: 0;
	@include flexPostition(flex-start, flex-start, row);

	.side-bar {
		min-height: 97vh;
		width: min(320px, 100%);
		background-color: $primary-navy;
		position: sticky;
		top: 0;
		padding: 1em 1em;
		margin: 1em;
		border-radius: 30px;
		transition: all 0.3s ease-in-out;

		.menu-button-container {
			@include flexPostition(center, space-between, row);

			.logo {
				min-height: 50px;
				width: 40%;
				background-repeat: no-repeat;
				background-image: url(../../public/images/saga_logo_white.svg);
				background-position: center;
				transition: all 0.2s ease-in-out;
			}

			.sidebar-button {
				height: 50px;
				min-width: 50px;
				background-color: rgba($logo-green-bright, 0.35);
				border-radius: 15px;
				@include flexPostition(flex-end, space-evenly, column);
				padding: 0.8em;
				cursor: pointer;
				transition: all 0.2s ease-in-out;

				span {
					height: 2px;
					width: 20px;
					background-color: $logo-green;
				}

				span:nth-of-type(3) {
					width: 15px;
				}
			}
		}

		.user-container {
			@include flexPostition(center, space-between, row);
			background-color: rgba($logo-green, 0.1);
			border: 1px solid rgba($logo-green, 0.8);
			min-height: 65px;
			margin: 20px 0;
			padding: 0.5em;
			border-radius: 16px;
			transition: all 0.3s ease-in-out;
			.user-content {
				img {
					width: 40px;
					height: 40px;
					border-radius: 50%;
					margin-right: 10px;
					cursor: pointer;
				}

				@include flexPostition(center, flex-start, row);
				width: 70%;
				font-size: 0.9em;
				color: $logo-white;
				cursor: pointer;
			}
			span {
				mask: url(../../public/images/options.svg) center/contain;
				cursor: pointer;
				width: 25px;
				height: 25px;
				background: rgba($accent-green, 0.7);
				transition: all 0.2s ease-in-out;
			}

			span:hover {
				background: rgba($accent-green, 8);
			}
		}
		.user-container:hover {
			background-color: rgba($logo-green, 0.2);
			border: 1px solid rgba($logo-green, 1);
			transition: all 0.2s ease-in-out;
		}
		ul.list {
			list-style: none;
			width: 100%;
			padding: 0.5em;
			min-height: 200px;
			@include flexPostition(flex-start, space-evenly, column);
			transition: all 0.3s ease-in-out;

			li {
				@include flexPostition(center, center, row);
				font-size: 1.2em;
				color: $logo-white;
				cursor: pointer;
				transition: all 0.2s ease-in-out;
				span {
					width: 25px;
					height: 25px;
					margin-right: 10px;
					background: $logo-white;
					transition: all 0.3s ease-in-out;
				}
				.dashboard {
					mask: url(../../public/images/House_01.svg) center/contain;
				}
				.project {
					mask: url(../../public/images/projects-icon.svg) center/contain;
				}
				.analytics {
					mask: url(../../public/images/anyalytics-icon.svg) center/contain;
				}
			}
			li:hover {
				color: rgba($accent-green, 0.7);
				span {
					background: rgba($accent-green, 0.7);
				}
			}
		}
	}

	// sidebar animation
	.side-bar.close {
		width: 70px;
		border-radius: 15px;
		padding: 10px;

		.logo {
			transform: translateX(-200px);
		}

		.user-container {
			transform: translateX(-200px);
		}

		.list {
			@include flexPostition(center, space-evenly, column);


			li div {
				position: absolute;
				transform: translateX(100px);
			}
		}
	}
}
