// TOP NAVIGATION BAR
.nav-container {
	width: 100%;
	// min-width: 320px;
	height: 70px;
	color: #111111;
	padding: 10px;
	display: flex;
	border-bottom: 2px solid #07f0c1;
	justify-content: flex-end;
	align-items: center;

	.logout-btn {
		height: 100%;
		width: 120px;
		background-color: rgba(54, 199, 181, 0.04);
		color: #36c7b5;
		font-weight: 300;
		display: flex;
		justify-content: center;
		align-items: center;
		justify-self: flex-end;
		outline: none;
		border: 1.5px solid rgba(54, 199, 181, 0.65);
		border-radius: 8px;

		&:hover {
			background-color: rgba(7, 240, 193, 0.1);
			font-weight: 400;
			color: #00d9bf;
			border-color: #00d9bf;
		}
	}

	.user-greeting {
		font-size: 14px;
		margin-right: 1.2rem;

		.name {
			font-weight: 400;
			margin-left: 4px;
		}
	}
}
