@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap%27");
:export {
  logoWhite: #f5fcfc;
  logoBlack: #020504;
  logoGreen: #36c7b5;
  logoGreenBright: #00d9bf;
  accentGreen: #07f0c1;
  primaryNavy: #023343;
}

* {
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
  font-family: "Readex Pro", sans-serif;
  font-weight: 300;
  height: 100%;
  width: 100%;
}

#__next {
  max-width: 100%;
  min-height: 100%;
  height: 100%;
}

h2 {
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 0.018em;
}

.error {
  color: red;
}

button {
  font-family: "Urbanist", sans-serif;
}

.logo-dark.primary,
.logo-dark .primary {
  color: #020504;
  fill: #020504;
  stroke: #020504;
}

.logo-light.primary,
.logo-light .primary {
  color: #f5fcfc;
  fill: #f5fcfc;
  stroke: #f5fcfc;
}

.logo-dark.accent,
.logo-light.accent,
.logo-dark .accent,
.logo-light .accent {
  color: #36c7b5;
  fill: #36c7b5;
  stroke: #36c7b5;
}

.logo-white {
  color: #f5fcfc;
}

.logo-black {
  color: #020504;
}

.logo-green {
  color: #36c7b5;
}

.logo-green-bright {
  color: #00d9bf;
}

.accent-green {
  color: #07f0c1;
}

.primary-navy {
  color: #023343;
}

@media (prefers-color-scheme: dark) {
  html {
    background: linear-gradient(60deg, #001c26, #001d27 50%, #001e27 60%, #001f29 90%) !important;
    background-size: contain;
    color: #f5fcfc;
  }
}
.dashboard-container {
  padding-left: 4%;
  padding-top: 3%;
}
.dashboard-container .dash-header {
  margin-top: 0;
  margin-bottom: 5%;
}
.dashboard-container .dash-subheader {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 20px;
}
.dashboard-container .new-proj-btn {
  background-color: transparent;
  border: none;
  width: 100%;
  max-width: 360px;
  height: auto;
  aspect-ratio: 7/4.5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-top: 24px;
}
.dashboard-container .new-proj-btn svg {
  margin-left: -16px;
  fill: none;
  stroke: rgba(211, 222, 225, 0.631372549);
  stroke-width: 2;
  stroke-dasharray: 8;
  width: 100%;
  height: 100%;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  transition: all;
  transition-duration: 180ms;
}
.dashboard-container .new-proj-btn h5 {
  margin-left: -6px;
  position: absolute;
  color: #7096a0;
  opacity: 0.85;
  font-family: "Readex Pro";
  font-size: 16px;
  font-weight: 410;
  letter-spacing: 0.01em;
  transition: all;
  transition-duration: 180ms;
}
.dashboard-container .new-proj-btn:hover svg {
  fill: rgba(186, 212, 219, 0.0901960784);
  stroke: rgba(199, 222, 229, 0.7843137255);
  transition: all;
  transition-duration: 200ms;
}
.dashboard-container .new-proj-btn:hover h5 {
  color: #69a6b5;
  opacity: 1;
  font-size: 17px;
  letter-spacing: 0;
  font-weight: 405;
  transition: all;
  transition-duration: 150ms;
}

.recent-projects {
  margin-left: 2px;
}

.project-form-container {
  background: rgba(205, 207, 208, 0.2);
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  opacity: 0;
  z-index: -99;
}
.project-form-container.active {
  opacity: 1;
  z-index: 100;
  transition: all 0.3s cubic-bezier(0.33, 1, 0.68, 1);
}
.project-form-container .create-project-form {
  position: absolute;
  width: min(40vw, 475px);
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f5fcfc;
  z-index: -99;
  padding: 2%;
  opacity: 0;
}
.project-form-container .create-project-form.active {
  opacity: 1;
  z-index: 100;
  transition: all 0.3s cubic-bezier(0.33, 1, 0.68, 1);
}
.project-form-container .create-project-form .form-head-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.project-form-container .create-project-form .form-head-container h1 {
  margin: 0 0 0;
  padding: 3%;
  font-size: 2em;
}
.project-form-container .create-project-form .form-head-container button {
  background-color: transparent;
  border: none;
}
.project-form-container .create-project-form .form-head-container button .delete-button {
  transform: rotate(45deg);
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.project-form-container .create-project-form form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.project-form-container .create-project-form form .slide-container {
  width: 100%;
  display: flex;
  overflow: hidden;
}
.project-form-container .create-project-form form .slide-container .slide {
  width: 0%;
  height: 0%;
  opacity: 0;
}
.project-form-container .create-project-form form .slide-container .slide.active {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 2em;
  min-width: 100%;
  min-height: 100%;
  position: relative;
  opacity: 1;
  transition: all 0.7s cubic-bezier(0.33, 1, 0.68, 1);
}
.project-form-container .create-project-form form input,
.project-form-container .create-project-form form select {
  width: 100%;
  background-color: #f5fcfc;
  border: none;
  border-bottom: 1px solid rgba(135, 156, 163, 0.5);
  color: #023343;
  font-weight: 200;
  padding: 0.5em;
  line-height: 1.5em;
}
.project-form-container .create-project-form form select option[disabled] {
  color: rgba(135, 156, 163, 0.5);
}
.project-form-container .create-project-form form label {
  width: 100%;
  font-weight: 900;
}
.project-form-container .create-project-form form label input {
  width: 100%;
  font-weight: 200;
}
.project-form-container .create-project-form form input:focus,
.project-form-container .create-project-form form select:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(135, 156, 163, 0.5);
}
.project-form-container .create-project-form form input::-moz-placeholder {
  color: #879ca3;
}
.project-form-container .create-project-form form input::placeholder {
  color: #879ca3;
}
.project-form-container .create-project-form form input[type=date]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
.project-form-container .create-project-form form .tag-section {
  width: 100%;
}
.project-form-container .create-project-form form .tag-section input {
  width: 100%;
}
.project-form-container .create-project-form form .tag-section .tag-arrow {
  position: absolute;
  right: 5%;
  background-color: #f5fcfc;
  border: none;
}
.project-form-container .create-project-form form .tag-section .tag-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
}
.project-form-container .create-project-form form .tag-section .tag-container .tag-content {
  background-color: rgba(45, 116, 139, 0.8);
  min-width: 50px;
  height: 20px;
  padding: 0 1% 0 3%;
  border-radius: 1em;
  margin: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.project-form-container .create-project-form form .tag-section .tag-container .tag-content .tools {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 200;
  font-size: 1em;
  margin-right: 5px;
}
.project-form-container .create-project-form form .tag-section .tag-container .tag-content .tags {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 200;
  font-size: 1em;
  margin-right: 5px;
}
.project-form-container .create-project-form form .tag-section .tag-container .tag-content button {
  background-color: transparent;
  border: none;
}
.project-form-container .create-project-form form .tag-section .tag-container .tag-content button .delete-button {
  transform: rotate(45deg);
  width: 10px;
  height: 10px;
  cursor: pointer;
}
.project-form-container .create-project-form .section-indicator {
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5em;
}
.project-form-container .create-project-form .section-indicator .dots {
  display: flex;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgba(135, 156, 163, 0.5);
  margin: 0 5px;
}
.project-form-container .create-project-form .section-indicator .dots.active {
  background-color: #00d9bf;
  transition: all 6s cubic-bezier(0.33, 1, 0.68, 1);
}
.project-form-container .create-project-form .project-nav-buttons {
  margin-top: 1em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.project-form-container .create-project-form .project-nav-buttons button {
  width: 175px;
  height: 2em;
}
.project-form-container .create-project-form .project-nav-buttons button:nth-of-type(1) {
  color: #36c7b5;
  background-color: #f5fcfc;
  border: 1px solid #36c7b5;
}
.project-form-container .create-project-form .project-nav-buttons button:nth-of-type(2) {
  color: #f5fcfc;
  background-color: #36c7b5;
  border: 1px solid #36c7b5;
}

@media screen and (min-width: 640px) {
  .new-proj-btn {
    width: 50%;
  }
}
.login-page {
  min-width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  display: flex;
  color: #f5fcfc;
  background-color: #f5fcfc;
}
.login-page .login-container {
  width: clamp(10rem, 70rem - 15vw, 80rem);
  height: 100%;
  width: 40%;
  padding: 1rem 1rem;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  display: flex;
}
.login-page .login-container .login-content {
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  display: flex;
  height: 100%;
  width: 100%;
  padding: 5%;
}
.login-page .login-container .login-content .login-title {
  color: #020504;
  text-align: center;
  width: max(50%, 175px);
  font-size: clamp(2.5rem, 3rem - 2vw, 3.5rem);
  font-weight: 200;
}
.login-page .login-container .login-content p {
  text-align: center;
  margin: 5px;
}
.login-page .login-container .login-content .login-btn-container {
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  display: flex;
  width: 100%;
  min-height: 125px;
  margin-top: 20px;
}
.login-page .login-container .login-content .login-btn-container button {
  width: 100%;
  min-height: 60px;
  color: #020504;
  font-size: clamp(1em, 1.2em + 1vw, 1.5em);
  background-color: rgba(245, 252, 252, 0.4);
  border: 1px solid rgba(2, 5, 4, 0.85);
  border-radius: 14px;
  font-weight: 300;
  cursor: pointer;
  margin: 10px 0;
  transition: all 0.2s ease-in-out;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  display: flex;
}
.login-page .login-container .login-content .login-btn-container button .google-logo {
  height: 50px;
  width: 50px;
  background-image: url(../../public/images/google-logo.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 1%;
}
.login-page .login-container .login-content .login-btn-container button .github-logo {
  height: 50px;
  width: 50px;
  background-image: url(../../public/images/github-logo.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 1%;
}
.login-page .login-container .login-content .login-btn-container button:hover {
  border: 1px solid #020504;
  background-color: rgba(0, 217, 191, 0.3);
}
.login-page .login-design-container {
  min-width: 60%;
  height: 100%;
  padding: 0.5%;
}
.login-page .login-design-container .design-content {
  min-width: 100%;
  height: 100%;
  border-radius: 28px;
  background: linear-gradient(216.67deg, #04434C 7.62%, #023343 32.99%, #001E28 66.19%, #04454E 95.73%);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}
.login-page .login-design-container .design-content .design-text {
  width: 100%;
  height: 110px;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
}
.login-page .login-design-container .design-content .design-text .header-top,
.login-page .login-design-container .design-content .design-text .header-bottom {
  width: 85%;
  color: #f5fcfc;
  font-size: clamp(1.8rem, 2.8vw, 3rem);
}
.login-page .login-design-container .design-content .design-text .header-top {
  text-align: left;
}
.login-page .login-design-container .design-content .design-text .header-bottom {
  text-align: right;
}
.login-page .login-design-container .design-content .design-img {
  height: 70%;
  width: 80%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../public/images/login-design-img.png);
}

.login-logo {
  width: 50%;
  max-width: 425px;
  height: auto;
  margin: 5% 0 25% 0;
}
.login-logo__logo {
  width: 100%;
  height: 100%;
}

.nav-container {
  width: 100%;
  height: 70px;
  padding: 10px;
  display: flex;
  border-bottom: 2px solid #07f0c1;
  justify-content: flex-end;
  align-items: center;
}
.nav-container .logout-btn {
  height: 90%;
  max-height: 44px;
  width: 100px;
  background-color: rgba(54, 199, 181, 0.04);
  color: #36c7b5;
  font-weight: 500;
  letter-spacing: 0.02em;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
  outline: none;
  border: 1.5px solid rgba(54, 199, 181, 0.65);
  border-radius: 8px;
}
.nav-container .logout-btn:hover {
  background-color: rgba(7, 240, 193, 0.1);
  font-weight: 600;
  color: #00d9bf;
  border-color: #00d9bf;
}
.nav-container .user-greeting {
  font-size: 14px;
  margin-right: 1.2rem;
}
.nav-container .user-greeting .name {
  font-weight: 400;
  margin-left: 4px;
}
@media (prefers-color-scheme: dark) {
  .nav-container {
    border-bottom: hidden;
  }
  .nav-container .user-greeting {
    opacity: 0.8;
  }
  .nav-container .logout-btn:hover {
    background-color: rgba(7, 240, 193, 0.08);
    font-weight: 500;
    border-color: rgba(0, 217, 191, 0.6);
  }
}

.sidebar-container {
  height: 100%;
  width: 94px;
  border: 14px solid white;
  border-radius: 30px;
  background-color: #023343;
  color: white;
  padding-top: 12px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  transition: all;
  transition-duration: 220ms;
}
@media (prefers-color-scheme: dark) {
  .sidebar-container {
    border: 14px solid #001c26;
  }
}
.sidebar-container a p {
  display: none;
}
.sidebar-container .nav-link:first-of-type {
  padding-top: 50px;
}
.sidebar-container .nav-link svg {
  transition: all 0.2s ease;
}
.sidebar-container .nav-link p {
  transition: all 0.2s ease;
}
.sidebar-container .nav-link:hover svg {
  color: rgba(7, 240, 193, 0.8);
}
.sidebar-container .nav-link:hover p {
  color: rgba(7, 240, 193, 0.8);
}
.sidebar-container.open {
  width: 294px;
  padding: 12px 16px;
  flex-direction: row;
  justify-items: flex-start;
  display: block;
  transition: all;
  transition-duration: 200ms;
}
.sidebar-container.open .sidebar-logo, .sidebar-container.open .sidebar-logo-updated,
.sidebar-container.open .current-user {
  display: inline-flex;
}
.sidebar-container.open .sidebar-logo svg, .sidebar-container.open .sidebar-logo-updated svg,
.sidebar-container.open .current-user svg {
  transition: all 0.2s ease;
}
.sidebar-container.open a p {
  display: inline-flex;
}
.sidebar-container.open .nav-link {
  padding: 12px 16px;
  margin-bottom: 24px;
  flex-direction: row;
}

.sidebar-logo, .sidebar-logo-updated {
  height: auto;
  width: 50%;
  margin: 1em 0 0 0.4em;
  display: none;
}
.sidebar-logo-updated {
  margin: 0.8em 0 0 10px;
  width: 43.1%;
}

.current-user {
  padding: 12px 22px 12px 18px;
  background-color: rgba(7, 240, 193, 0.04);
  border: 1px solid rgba(7, 240, 193, 0.5);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2.5em 0;
  width: 100%;
  display: none;
}
.current-user .user-group {
  display: flex;
  align-items: center;
}
.current-user img {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  margin-right: 1em;
}
.current-user p {
  margin: 0;
  font-family: "Urbanist", "Readex Pro";
  font-weight: 300;
  letter-spacing: 0.05em;
}

.cog {
  opacity: 0.55;
}
.cog:hover {
  opacity: 0.8;
}

.menu-btn {
  height: 44px;
  width: 44px;
  border-radius: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 217, 191, 0.3);
  padding: 10px;
  mix-blend-mode: lighten;
  stroke-width: 1.75px;
  right: 11px;
  transition: all 0.2s ease;
  transition-duration: 300;
}
.menu-btn.open {
  position: absolute;
  transition: all;
  transition-duration: 300;
}
.menu-btn:hover {
  background-color: rgba(0, 217, 191, 0.35);
}

.nav-link {
  stroke-width: 1.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}
.nav-link.open {
  margin-bottom: 12px;
}
.nav-link:hover, .nav-link:hover > * {
  color: rgb(0, 217, 191);
  mix-blend-mode: lighten;
  stroke-width: 1.75px;
}
.nav-link a {
  color: #f5fcfc;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 0.025em;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.nav-link a p {
  margin: 0;
  margin-bottom: 3px;
}
.nav-link span svg {
  width: 24px;
  min-width: 24px;
}
.nav-link span svg.open {
  margin-right: 12px;
}
.nav-link.active, .nav-link.active a {
  color: #07f0c1;
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 0.025em;
  stroke-width: 2px;
  height: auto;
}

.links-container {
  display: flex;
  flex-direction: column;
  height: -moz-fit-content;
  height: fit-content;
}

.bottom-nav-container {
  height: auto;
  width: 100%;
  border: 13px solid white;
  border-radius: 28px;
  background-color: #023343;
  color: white;
  padding: 12px;
  position: relative;
  display: flex;
  justify-items: center;
  align-items: center;
  transition: all;
  transition-duration: 220ms;
}

.tab-container {
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  align-content: center;
  height: 100%;
  width: 100%;
  padding: 9px 0;
}
.tab-container div.nav-link {
  margin-bottom: 0;
  height: 24px;
  stroke-width: 2px;
}
.tab-container div.nav-link a {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.plus {
  stroke-width: 2.4px;
}

.main-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  flex-grow: 2;
  flex-direction: column-reverse;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  flex-grow: 2;
}

.side-container {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
}

@media screen and (min-width: 640px) {
  .main-wrapper {
    padding-right: 24px;
    flex-direction: row;
  }
  .main-container {
    flex-grow: 2;
  }
  .side-container {
    height: 100%;
  }
}/*# sourceMappingURL=styles.css.map */